{% extends 'generator/layout.html' %}

{% block content %}

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aliquam quod sit hic ducimus at laboriosam ex. Corporis cupiditate iusto nulla dignissimos fugiat. Voluptatum dicta accusamus labore ut asperiores doloribus nostrum dignissimos temporibus, ullam doloremque iusto illo natus facere porro soluta possimus. Nulla mollitia, tenetur deleniti eius vel impedit sequi sint explicabo veniam ipsa cum quos inventore, at quis harum laboriosam repellat cumque molestias? Suscipit, fuga veniam. Beatae quisquam, officiis qui culpa facere magnam esse alias pariatur facilis illo explicabo ipsa fuga consequatur totam eum tenetur omnis nemo debitis laborum iusto? Fugit odio distinctio, quo omnis expedita similique dolorem veniam.</p>

{% endblock %}
